@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: "Open Sans";
}